/* 
====================
Top Navigation
====================
*/

body.is-navSticky .nav {
    position: fixed;
}

.nav-follow,
.nav-sections,
.nav-sections-dropdown,
.nav-tnw {
    display: none;
}

.nav-icons,
.nav {
    height: 48px;
}

.u-clear::after {
    clear: both;
    content: '';
    display: block;
}

.nav-icons li > a,
.nav-mob-toggle {
    display: block;
    height: 48px;
    padding: 16px;
    width: 48px;
}

.nav-icons {
    float: right;
}

.nav-icons li {
    border-left: 1px solid #eee;;
    float: left;
}

.nav-icons img {
    opacity: .3;
}

.nav-logo {
    left: 0;
    position: absolute;
    top: 0;
}

.nav-logo > a {
    display: block;
    height: 48px;
    padding: 12px 20px;
    text-align: center;
    width: 106px;
    will-change: height;
}

.nav-message {
    position: relative;
    margin-left: 0;
    font-size: 11px;
    line-height: 24px;
    background-color: #000;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 0 6px;
}

.nav-message-answers {
    box-shadow: 0 16px 48px rgba(0, 0, 0, .15);
    line-height: 30px;
    background:#fd3;
    font-size: 10px;
    color: #000;
}

.nav-mob-toggle {
    position: relative;
    transition: transform .4s, -webkit-transform .4s;
    opacity: 1 !important;
    z-index: 998;
}

.nav-mob-toggle div{
    position: absolute;
    left: 14px;
    top: 38%;
}

.nav-mob-toggle span {
    transition: .4s;
    background-color: #f42;
    display: block;
    height: 2px;
    left: 14px;
    margin-top: -1px;
    position: absolute;
    top: 50%;
    width: 20px;
}

.nav-mob-toggle span:first-child {
    transform: translateY(-6px);
}

.nav-mob-toggle span:last-child {
    transform: translateY(6px);
}

.nav-mob {
    transition: .4s;
    transform: translateX(100%);
    background: linear-gradient(to bottom right, #c09, #f42 85%);
    height: 100vh;
    left: 0;
    padding: 48px 20px;
    position: fixed;
    right: 0;
    top: 0;
    will-change: transform;
    z-index: 997;
}

body.is-showNavMob .nav-mob {
    transform: translateX(0);
}

body.is-showNavMob .nav-mob-toggle {
    transform: rotate(90deg);
}

body.is-showNavMob .nav-mob-toggle span:first-child {
    transform: rotate(45deg) translate(0);
}

body.is-showNavMob .nav-mob-toggle span:nth-child(2) {
    transform: scaleX(0);
}

body.is-showNavMob .nav-mob-toggle span:last-child {
    transform: rotate(-45deg) translate(0);
}

body.is-showNavMob .nav-mob-toggle span {
    background-color: #fff;
}

.nav-mob-content {
    overflow: auto;
    border-top: 1px solid hsla(0,0%,100%,.15);
    bottom: 0;
    left: 0;
    padding: 20px;
    position: absolute;
    right: 0;
    top: 48px;
}

.nav-mob-follow {
    border-bottom: 1px solid hsla(0, 0%, 100%, .15);
    margin: 0 -20px 2em;
    padding: 0 20px 20px;
}

.nav-mob-follow li {
    float: left;
    height: 16px;
    margin-bottom: 0;
    text-align: center;
    width: 10%;
}

.nav-mob-follow .icon {
    margin: 0 auto;
}

.nav-mob-follow li:first-child {
    margin-left: 0;
}

.nav-mob-follow::after {
    clear: both;
    content: "";
    display: block;
}

.nav-mob-menu {
    margin-bottom: 2em;
}

.nav-mob-menu li {
    margin-top: .5em;
}

.nav-mob .post-body a strong,
.nav-mob a,
.post-body a .nav-mob strong {
    color: hsla(0,0%,100%,.6);
}

.nav{
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;
}

/* 
====================
Cover
====================
*/

.cover {
    margin: 0 auto;
    padding: 4px;
    position: relative;
}

.cover::after{
    clear: both;
    content: '';
    display: block;
}

.cover-header{
    bottom: 4px;
    left: 4px;
    padding: 14px 12px;
    position: absolute;
    right: 4px;
    z-index: 3;
}

.cover-image {
    background-image: url("../images/picture.svg");
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    z-index: 1;
}

.cover-image,
.cover-image-filter,
.cover-trigger {
    bottom: 4px;
    left: 4px;
    position: absolute;
    right: 4px;
    top: 4px;
}

.cover-image-filter {
    background-color: #000;
    background-size: cover;
    z-index: 2;
    opacity: 0.4;
}

.cover-story {
    float: left;
    overflow: hidden;
    padding: 4px;
    position: relative;
    width: 100%;    
}

/* 
====================
news
====================
*/

.latest {
    margin-bottom: 2em;
    padding-top: 24px;
}

.latest .distraction-title,
.latest h2{
    margin-bottom: 24px;
}

.wrapper {
    margin: 0 auto;
    max-width: 1192px;
    padding: 0 20px;
}

.story-byline {
    padding-top: 4px;
}

.story-byline::after {
    clear: both;
    content: '';
    display: block;
}

.story-byline a {
    color: #aaa;
}

.story-byline li {
    display: block;
    float: left;
}

.story-byline li::after {
    content: "\B7";
    display: block;
    float: right;
    margin: 0 4px;
}

.story-image {
    background-color: #000;
    background-image: url("../images/picture.svg");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    height: 0;
    overflow: hidden;
    padding-top: 50%;
    width: 100%;
    margin-bottom: 8px;
    position: relative;
}

.story-title {
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    margin-bottom: 1px;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.story-title a {
    color: #000;
}

/* 
====================
Deals 
====================
*/

.deals {
    margin-bottom: 2em;
}

.deals-header {
    margin-bottom: 24px;
}

.deals-header::after {
    clear: both;
    content: '';
    display: block;
}

.deals-header .distraction-title,
.deals-header h2 {
    float: left;
    line-height: 32px;
}

.deals-header-more {
    float: right;
    line-height: 18px;
    margin-top: 11px;
}

.story--investment {
    background: #fffaf8;
}

.vertical .story-byline {
    border-top: 1px solid rgba(255, 68, 34, .25);
    margin-top: 10px;
    padding-top: 10px;
}

.story--investment .story-byline {
    margin-top: 0;
}

.story-investmentCard-header {
    position: relative;
    display: block;
}

.story-investmentCard-deets {
    padding: 10.6666666667px 16px 10.6666666667px 84px;
    color: #000;
    background: rgba(255, 68, 34, .08);
    margin: 0;
}

.story-investmentCard-card {
    padding: 16px;
}

.story-investmentCard-bit {
    padding-left: 2em;
    position: relative;
    margin-right: 1em;
    display: block;
}

.story-investmentCard-bit:not(:last-child) {
    margin-bottom: .5em;
}

.story-investment .story-byline {
    margin-top: 0;
}

.story-addPadding {
    padding: 16px;
}

.verticals {
    margin-bottom: 2em;
}

.vertical {
    min-height: 60px;
    position: relative;
}

.vertical::before {
    background: rgba(255, 68, 34, .07);
    bottom: 8px;
    content: "";
    display: block;
    left: 8px;
    pointer-events: none;
    position: absolute;
    right: 8px;
    top: 8px;
}

.vertical--lighter::before {
    background: rgba(255,68,34,.03);
    z-index: -999;
}

/* 
====================
Sections 
====================
*/

.sections {
    margin-bottom: 40px;
}

.section .distraction-title,
.section h2 {
    margin-bottom: 14px;
}

.section-popular {
    height: 0;
    padding-top: 75%;
    position: relative;
    width: 100%;
}

.section-popular-trigger {
    background-size: 100% 100%;
    bottom: 0;
    left: 0;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}

.section-popular-header {
    bottom: 0;
    left: 0;
    padding: 14px;
    position: absolute;
    right: 0;
    z-index: 3;
}

.section-popular-title {
    margin-bottom: 6px;
}

.section-popular-byline {
    color: hsla(0, 0%, 100%, .6);
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
}

.section-popular-byline li {
    display: block;
    float: left;
}

.section-popular-byline li a::after {
    content: "\B7";
    display: block;
    float: right;
    margin: 0 4px;
}

.section-latest {
    display: flex;
    flex-direction: row;
    margin:2px 0;
}

.section-latest-header {
    flex: 1;
    overflow:hidden;
    padding: 10px 14px 0;
}

.section-latest-title {
    max-height: 56px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.section-headline {
    border-bottom: 1px solid #eee;
}

/* 
====================
Deals 
====================
*/

.deals.deals--long .deals-header .deals-header-more::after {
    content: '|';
    margin-left: 10px;
    margin-right: 10px;
    display: none;
    pointer-events: none;
    position: absolute;

}

.deals-header-more:not(:first-of-type) {
    margin-right: 23px;
}

.deals-header-more::after {
    content: "|";
    margin-left: 10px;
    margin-right: 10px;
    display: none;
    pointer-events: none;
    position: absolute;
}

.deals-header-more:not(:first-of-type)::after {
    display: inline-block;
}

.story--deal .story-dealPrice-old {
    text-decoration: line-through;
    margin-right: 4px;
}

/* 
====================
Footer 
====================
*/

.footer-links {
    background: #131313;
    padding: 2.5em 0;
}

.footer-links-social {
    margin-bottom: 1.5em;
}

.footer-links-social li {
    display: inline-block;
    margin: 0 3px;
}

.footer-links-social li a {
    background: #333;
    border-radius: 50%;
    display: block;
    height: 40px;
    padding: 12px;
    text-align: center;
    width: 40px;
}

.footer-links-menu li {
    font-weight: 500;
    text-transform: uppercase;
    display: inline-block;
    font-size: 11px;
    line-height: 24px;
    margin: 0 4px;
}

.footer-legal {
    padding: 2.5em 0;
}

.footer-legal span {
    display: block;
}
/* 
====================
icons 
====================
*/

.cover-byline li .icon {
    float: left;
    margin-right: 4px;
    opacity: 0.6;
    vertical-align: middle;
}

.investment-card-icon {
    max-width: 20px;
}

.icon {
    display: block;
    height: 16px;
    width: 16px;
}

.icon--clock--light {
    background-image: url("../images/primary-history.svg");
}

.icon--share--light {
    background-image: url("../images/sharethis-logo.svg");
}

.story-investmentCard-bit .icon {
    position: absolute;
    top: .2em;
    left: 0;
    opacity: .9;
}

/* 
====================
images 
====================
*/

.popular-image {
    max-width: 368px;
    width: 368px;
    height: 276px;
}

.thumb-investment {
    width: 60px;
    min-width: 60px;
    max-width: 60px;
    height: 60px;
    min-height: 60px;
    max-height: 60px;
    margin: 10.6666666667px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.section-latest-image {
    flex: 0 0 96px;
    background-color: #000;
    background-position: 50%;
    background-size: cover;
    height: 96px;
    width: 96px;
}

/* 
====================
Media Queries
====================
*/

@media screen and (max-width: 767px) {
    body.is-showNavMob {
        overflow: hidden;
    }

    .cover article {
        min-height: 30vh;
        position: relative;
    }

    .story--smallMobile {
        min-height: 72px;
        padding-left: 88px;
        position: relative;
    }

    .story--smallMobile .story-byline {
        line-height: 18px !important;
    }

    .story--smallMobile .story-image{
        left: 0;
        padding-top: 75px;
        position: absolute;
        top: 0;
        width: 75px;
    }

    .story--smallMobile .story-title {
        font-size: 14px !important;
        line-height: 18px !important;
        font-weight: 700;
    }
}

@media screen and (min-width: 768px){

    body.with-nav-message .main {
        padding-top: 104px;
    }

    /* navigation */

    .nav {
        height: 80px;
        padding-left: 106px;
        position: absolute;
    }

    .nav-logo > a,
    .post-body a .nav-logo > strong {
        height: 80px;
        line-height: 56px;
    }

    .nav-tnw {
        background: #131313;
        display: block;
        font-size: 13px;
        font-weight: 500;
        line-height: 32px;
        max-height: 32px;
        position: relative;
        z-index: 2;
    }

    .nav-tnw li {
        float: left;
        margin-left: 12px;
        position: relative;
    }

    .nav-tnw li:first-child {
        margin-left: 20px;
    }

    .nav-company {
        float: right;
        padding-right: 20px;
    }

    .nav-tnw::after {
        clear: both;
        content: '';
        display: block;
    }

    .nav-sections {
        display: block;
        position: absolute;
        will-change: opacity;
    }

    .nav-sections > li {
        float: left;
        position: relative;
    }

    .nav-sections > li:first-child .post-body a strong,
    .nav-sections > li:first-child a,
    .post-body a .nav-sections > li:first-child strong {
        padding-left: 20px;
    }

    .nav-sections-dropdown-toggle .post-body a strong,
    .nav-sections-dropdown-toggle a,
    .nav-sections-section .post-body a strong,
    .nav-sections-section a,
    .post-body a .nav-sections-dropdown-toggle strong,
    .post-body a .nav-sections-section strong {
        font-weight: 700;
        font-size: 12px;
        text-transform: uppercase;
        color: #aaa;
        display: block;
        height: 48px;
        letter-spacing: .04em;
        line-height: 1;
        padding: 18px 10px 0;
    }

    .nav-message {
        margin-left: -106px;
        padding-left: 126px;
        text-align: left;
    }

    .nav-follow-less,
    .nav-icons .nav-mob-toggle,
    .nav-mob {
        display: none;
    }

    /* news */

    .latest {
        margin-bottom: 3em;
    }

    .u-row {
        margin: -10px;
    }

    .u-col-m-4 {
        flex-basis: 33.3333333333%;
        max-width: 33.3333333333%;
    }

    [class*="u-col-"] {
        padding: 10px;
    }

    /* deals */

    .deals {
        margin-bottom: 3em;
    }

    .verticals {
        margin-bottom: 3em;
    }

    .deals-header-more {
        font-size: 16px;
        margin-top: 10px;
    }

    .story--deal .story-image {
        background-position: 0 100%;
        padding-top: 74.5%;
    }

    /* investments */

    .vertical {
        padding: 10px;
    }

    .vertical::before {
        bottom: 10px;
        left: 10px;
        right: 10px;
        top: 10px;
    }

    /* sections  */

    .section {
        margin-bottom: 24px;
    }

    .u-col-m-6 {
        flex-basis: 50%;
        max-width: 50%;
    }

    /* footer */

    .footer-links {
        padding: 3em 0 2em;
    }

    .footer-links-social li {
        margin: 0 8px;
    }

    .footer-links-menu li {
        margin: 0 6px;
    }

    .footer-legal {
        padding: 3em 0;
    }

    .footer-legal span {
        display: inline;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    .cover {
        height: 60vh;
    }

    .cover--grid3 article {
        float: left;
        height: 50%;
        width: 33.33333%;
    }

    .cover--grid3 article:first-child {
        height: 100%;
        width: 66.6666%;
    }

    .cover-header {
        padding: 16px 12px;
    }

    .cover-byline li:last-child {
        display: none;
    }
}

@media screen and (max-width: 1024px){

    .deals.deals--long .deals-header .deals-header-more:not(:last-of-type)::after {
        display: inline-block;
    }

    .deals.deals--long .deals-header .deals-header-more {
        float: left;
        display: block;
    }
    .deals.deals--long .deals-header .deals-header-more:first-of-type {
        clear: both;
    }

    .deals.deals--long .deals-header .deals-header-more:not(:last-of-type){
        margin-right: 23px;
    }

    .investments .u-row :nth-child(4){
        display: none;
    }
}

@media screen and (max-width: 1024px) and (max-width: 768px){
    .deals.deals--long .deals-header .deals-header-more:first-of-type {
        padding-top: 1em;
    }

    .deals.deals--long .deals-header .deals-header-more {
        float: none;
        margin-right: 0;
    }

    .deals.deals--long .deals-header .deals-header-more::after {
        display: none !important;
    }
}

@media screen and (min-width: 1024px){
    body.with-nav-message .main {
        padding-top: 104px;
    }

    .cover {
        height: 75vh;
        max-height: 560px;
    }

    .cover--grid3 article {
        float: left;
        height: 50%;
        width: 33.33333%;
    }

    .cover--grid3 article:first-child {
        height: 100%;
        width: 66.66666%;
    }

    .latest {
        margin-bottom: 4em;
    }

    .u-row {
        margin: -12px;
    }

    .u-col-l-3 {
        flex-basis: 25%;
        max-width: 25%;
    }

    .u-col-l-4 {
        flex-basis: 33.3333333333%;
        max-width: 33.3333333333%;
    }

    [class*="u-col-"] {
        padding: 12px;
    }
}

