/* 
====================
General
====================
*/
a,
.post-body a strong {
    color: #f42;
    text-decoration: none;
}

body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* 
====================
Navigation
====================
*/

.nav {
    background: #fff;
    box-shadow: 0 0 32px rgba(0, 0, 0, .15);
}

.nav-logo > a{
    background: linear-gradient(to bottom right,#c09,#f42 85%);
    font-size: 24px;
    font-weight: bold;
}

.nav-mob,
.nav-mob h5{
    color: #fff;
}

/* 
====================
Cover
====================
*/

.cover a,
.cover h2,
.cover h5,
.nav-logo > a {
    color: #fff;
}

.cover-byline {
    font-size: 12px;
    line-height: 16px;
}

.cover-byline,
.cover-byline a {
    color: hsla(0,0%,100%,.6);
}

.cover-byline li:first-child{
    margin-left: 0;
}

.cover-byline li {
    display: inline-block;
    margin-left: 6px;
}

/* 
====================
Deals
====================
*/

.story-byline {
    color: #aaa;
    font-size: 13px;
    line-height: 18px;
    padding-top: 4px;
}

.story-investmentCard-name {
    background: #f42;
    color: #fff;
    padding: 10.6666666667px 16px 10.6666666667px 84px;
    margin: 0 !important;
    font-size: 18px !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.vertical h4 {
    font-size: 16px;
    margin-bottom: 12px;
}

.vertical h5{
    color: #f42;
    font-size: 11px;
}

.story-investmentCard-deets h4 {
    font-size: 18px;
    color: #000;
    margin: 0 !important;
}

.story-investmentCard-deets h5 {
    color: #000;
    opacity: .5;
}

.story-investmentCard-bit {
    font-size: 13px;
    color: #555;
    line-height: 22px;
}

.post-body a .story-byline strong,
.story-byline .post-body a strong,
.story-byline a,
.story-title-source {
    color: #aaa;
}

.vertical .story-title-link {
    font-size: 12px;
    font-weight: 400;
    color: #aaa;
}

.post-body a .vertical .story-byline li strong,
.vertical .story-byline li .post-body a strong,
.vertical .story-byline li a {
    color: #555;
}

/* 
====================
Sections
====================
*/

.section-popular{
    background-image: url("../images/picture.svg");
    background-repeat: no-repeat;
    background-position-x: 50%;
}

.section-popular-trigger {   
    background: rgba(102,102,102,0);
    background: -moz-linear-gradient(top, rgba(102,102,102,0) 0%, rgba(30,30,30,0.79) 64%, rgba(19,19,19,0.85) 74%, rgba(19,19,19,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(102,102,102,0)), color-stop(64%, rgba(30,30,30,0.79)), color-stop(74%, rgba(19,19,19,0.85)), color-stop(100%, rgba(19,19,19,1)));
    background: -webkit-linear-gradient(top, rgba(102,102,102,0) 0%, rgba(30,30,30,0.79) 64%, rgba(19,19,19,0.85) 74%, rgba(19,19,19,1) 100%);
    background: -o-linear-gradient(top, rgba(102,102,102,0) 0%, rgba(30,30,30,0.79) 64%, rgba(19,19,19,0.85) 74%, rgba(19,19,19,1) 100%);
    background: -ms-linear-gradient(top, rgba(102,102,102,0) 0%, rgba(30,30,30,0.79) 64%, rgba(19,19,19,0.85) 74%, rgba(19,19,19,1) 100%);
    background: linear-gradient(to bottom, rgba(102,102,102,0) 0%, rgba(30,30,30,0.79) 64%, rgba(19,19,19,0.85) 74%, rgba(19,19,19,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#131313', GradientType=0 );
}
.section-popular-section,
.section-popular-title a {
    color: #fff;
}

.section-popular-byline a {
    color: hsla(0, 0%, 100%, .6);
}

.section-popular-section {
    font-size: 13px;
    pointer-events: none;
}

.section-latest {
    background: rgba(255, 68, 34, .1);
}

.section-latest-section {
    color: #f42;
    font-size: 13px;
}

.section-latest-title {
    color: #f42;
}

.section-headline h4 {
    font-size: 13px;
    font-weight: 400;
    line-height: 1.5;
}

.section-headline h4 a {
    color: #555;
    display: block;
    padding: 6px 0 6px 14px;
    position: relative;
}

/* 
====================
Sections
====================
*/

.story--deal .story-dealPrice {
    color: #aaa;
    font-size: 12px;
    line-height: 18px;
    padding-top: 4px;
    vertical-align: baseline;
}

/* 
====================
Footer
====================
*/

footer {
    text-align: center;
}

.footer-links-menu li a {
    color: #aaa;
}

.footer-legal {
    background: #000;
    color: #aaa;
    font-size: 13px;
}

.footer-legal span {
    text-align: center;
}

.footer-legal span b{
    color: #f42;
}

.footer-logo {
    color: #fff;
}

/* 
====================
Media Queries
====================
*/

@media screen and (min-width: 768px) and (max-width: 1023px){
    .cover--grid3 article .distraction-title,
    .cover--grid3 article h2{
        font-size: 20px;
    }
}

@media screen and (min-width: 768px) {

    .distraction-title,
    h2 {
        font-size: 28px;
    }

    .nav-tnw .post-body a strong,
    .nav-tnw a,
    .post-body a,
    .nav-tnw strong {
        color: hsla(0, 0%, 100%, .6);
    }

    .nav-tnw .post-body a strong.is-active,
    .nav-tnw .post-body a strong:hover,
    .nav-tnw a.is-active,
    .nav-tnw a:hover, .post-body a .nav-tnw strong.is-active,
    .post-body a .nav-tnw strong:hover {
        color: #fff;
    }
}

@media screen and (max-width: 767px){
    .cover h2{
        font-size: 20px;
        margin-bottom: 0.25em;
    }
}

@media screen and (min-width: 480px){
    .nav-message {
        font-size: 13px;
    }
}